/* 
  Final Fantasy CSS Library
  A collection of retro game inspired UI components.
*/

@import url("fonts.css");
@import url("core.css");
@import url("components.css");
@import url("ff1.css");
@import url("ff4.css");
@import url("ff6.css");
@import url("ff7.css");
@import url("ff8.css");
@import url("ff9.css");
@import url("ff13.css");
@import url("ff15.css");