<!-- Dropdown and Tooltip partial -->
<div class="grid-2">
    <div>
        <h4>Dropdown Menu</h4>
        <div class="ff-dropdown" id="demo-dropdown">
            <button class="ff-btn ff-dropdown-toggle" data-action="toggle-dropdown" data-target="demo-dropdown">
                Actions ▼
            </button>
            <ul class="ff-dropdown-menu">
                <li><a class="ff-dropdown-item" href="#">Attack</a></li>
                <li><a class="ff-dropdown-item" href="#">Magic</a></li>
                <li><a class="ff-dropdown-item" href="#">Item</a></li>
                <li class="ff-dropdown-divider"></li>
                <li><a class="ff-dropdown-item" href="#">Defend</a></li>
            </ul>
        </div>
        <h4 class="mt-20">Tooltips</h4>
        <div class="ff-tooltip">
            <button class="ff-btn">Hover Me</button>
            <span class="ff-tooltip-text">This is a tooltip!</span>
        </div>
    </div>
</div>