/* --- Battle Menu (ATB) --- */
.ff-battle-menu {
    margin-top: 10px;
}

.ff-atb-gauge {
    height: 10px;
    background: #333;
    border: 1px solid #777;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
}

.ff-atb-bar {
    height: 100%;
    background: linear-gradient(to right, #888, #fff);
    width: 0%;
    transition: width 0.5s linear;
    animation: atb-fill 3s infinite linear;
}

@keyframes atb-fill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}