/*
  ff-input-group.css
  Placeholder for input group styles (inputs with addons/buttons)

  Plan:
  - Styles for .ff-input-group, addon spans, appended/prepended buttons
*/

/* TODO: implement input-group styles */
