/* --- Spinner --- */
.ff-spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: ff-spinner-border .75s linear infinite;
}

.ff-spinner-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@keyframes ff-spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.ff-spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: ff-spinner-grow .75s linear infinite;
}

.ff-spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

@keyframes ff-spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: none;
  }
}